:root {
  --preColor_brand: 187, 191, 69;
  --preColor_altBrand: 213, 180, 120;
  --preColor_text: 34, 34, 34;
  --preColor_textAlt: 255, 255, 255;
  --preColor_complementary: 255, 250, 231;
  --color_brand: rgb(var(--preColor_brand));
  --color_altBrand: rgb(var(--preColor_altBrand));
  --color_text: rgb(var(--preColor_text));
  --color_textAlt: rgb(var(--preColor_textAlt));
  --color_complementary: rgb(var(--preColor_complementary));
  --font_primary: Open Sans, sans-serif;
  --font_secondary: Playfair Display, serif;
  --font_complementary: PT Sans, serif;
  --menu_type: 5;
  --menu_fontSize: 15em;
  --menu_fontWeight: 600;
  --menu_textTransform: none;
  --menu_lineHeight: 38px;
  --menu_padding: 2px;
  --menu_color: rgb(85, 85, 85);
  --menu_fontFamily: Open Sans, sans-serif;
  --menu_fontStyle: normal;
  --menu_fontVariant: normal;
  --menu_burger_color: rgb(85, 85, 85);
  --menu_active_color: rgb(var(--preColor_text));
  --menu_active_background: var(--menu_color);
  --menu_subMenu_fontSize: var(--menu_fontSize);
  --menu_subMenu_background: var(--header_main_background);
  --menu_subMenu_sm: var(--menu_subMenu_fontSize);
  --menu_subMenuLink_fontSize: var(--menu_subMenu_fontSize);
  --template_background: #fff;
  --template_fill: var(--color_brand);
  --template_fontFamily: var(--font_primary);
  --template_name: Wedding Planner;
  --header_alwaysCollapsed: false;
  --header_main_background: rgb(var(--preColor_complementary));
  --header_main_borderTopColor: var(--color_brand);
  --header_main_borderTopWidth: 0px;
  --header_main_borderBottomColor: rgb(var(--function_color_brand_darken_20));
  --header_main_borderBottomWidth: 0px;
  --header_main_opacity: 1.00;
  --header_sub_background: var(--header_main_background);
  --header_subheader_color_static: rgb(var(--preColor_text));
  --header_subheader_color_active: rgb(var(--preColor_brand));
  --header_topbar_color_static: rgb(var(--preColor_text));
  --header_topbar_color_active: rgb(var(--preColor_brand));
  --header_height: 72;
  --header_fixed: true;
  --footer_main_background: rgb(var(--preColor_altBrand));
  --footer_sub_background: var(--footer_main_background);
  --logo_default_isLink: true;
  --logo_default_text: Wedding Planner;
  --logo_default_src: /static/234/photo-037.svg;
  --logo_default_footer_src: themes/_global/logo.png;
  --logo_fontVariant: normal;
  --logo_textTransform: uppercase;
  --logo_fontFamily: Playfair Display, serif;
  --logo_crop_height: 52;
  --logo_crop_width: 222;
  --logo_crop_zoom: 1;
  --logo_crop_mode: contain;
  --logo_crop_top: 50;
  --logo_crop_left: 0;
  --logo_view: index;
  --logo_fontSize: 20em;
  --link_name: link_06;
  --link_color: rgb(var(--preColor_text));
  --link_preColor: var(--preColor_brand);
  --link_fontStyle: normal;
  --link_textDecoration: none;
  --link_fontWeight: 700;
  --link_borderBottom: none;
  --link_title: sh.fi.link-style_1;
  --link_presets_0_name: link_01;
  --link_presets_1_name: link_02;
  --link_presets_2_name: link_03;
  --link_presets_3_name: link_04;
  --link_presets_4_name: link_05;
  --blockquote1_name: blockquote_07;
  --blockquote1_default_color: var(--color_text);
  --blockquote1_default_preColor: var(--preColor_text);
  --blockquote1_default_fontStyle: italic;
  --blockquote1_default_fontSize: var(--text_fontSize);
  --blockquote1_default_fontFamily: var(--text_fontFamily);
  --blockquote1_default_fontWeight: 700;
  --blockquote1_default_lineHeight: var(--text_lineHeight);
  --blockquote1_default_background: transparent;
  --blockquote1_default_textTransform: none;
  --blockquote1_default_borderColor: rgb(var(--preColor_text));
  --blockquote1_default_textDecoration: none;
  --blockquote1_title: sh.fi.quote-style_7;
  --blockquote1_before_color: rgb(var(--preColor_text));
  --blockquote2_name: blockquote_02;
  --blockquote2_default_color: var(--color_text);
  --blockquote2_default_preColor: var(--preColor_text);
  --blockquote2_default_fontStyle: normal;
  --blockquote2_default_fontSize: var(--text_fontSize);
  --blockquote2_default_fontFamily: var(--text_fontFamily);
  --blockquote2_default_fontWeight: 700;
  --blockquote2_default_lineHeight: var(--text_lineHeight);
  --blockquote2_default_background: transparent;
  --blockquote2_default_textTransform: none;
  --blockquote2_default_borderColor: rgb(var(--preColor_altBrand));
  --blockquote2_title: sh.fi.quote-style_2;
  --blockquote2_before_color: rgb(var(--preColor_altBrand));
  --blockquote2_before_background: var(--color_text);
  --text_fontSize: 16em;
  --text_lineHeight: 1.7em;
  --text_fontWeight: 400;
  --text_fontStyle: normal;
  --text_fontVariant: normal;
  --text_fontFamily: var(--font_primary);
  --text_textTransform: none;
  --text_textAlign: left;
  --text_color: var(--color_text);
  --title_lineHeight: 1.4em;
  --title_fontStyle: normal;
  --title_fontWeight: 700;
  --title_fontVariant: normal;
  --title_textTransform: none;
  --title_textAlign: left;
  --title_color: var(--color_text);
  --title_heroHeading_fontSize: 80em;
  --title_heroHeading_lineHeight: 1.2em;
  --title_heroHeading_fontWeight: 500;
  --title_heroHeading_fontStyle: normal;
  --title_heroHeading_fontVariant: normal;
  --title_heroHeading_fontFamily: var(--font_secondary);
  --title_heroHeading_textTransform: none;
  --title_heroHeading_textAlign: var(--title_textAlign);
  --title_heroHeading_color: var(--title_color);
  --title_mainHeading_fontSize: 58em;
  --title_mainHeading_lineHeight: 1.2em;
  --title_mainHeading_fontWeight: 500;
  --title_mainHeading_fontStyle: normal;
  --title_mainHeading_fontVariant: normal;
  --title_mainHeading_fontFamily: var(--font_secondary);
  --title_mainHeading_textTransform: none;
  --title_mainHeading_textAlign: var(--title_textAlign);
  --title_mainHeading_color: var(--title_color);
  --title_heading_fontSize: 36em;
  --title_heading_lineHeight: 1.2em;
  --title_heading_fontWeight: 500;
  --title_heading_fontStyle: normal;
  --title_heading_fontVariant: normal;
  --title_heading_fontFamily: var(--font_secondary);
  --title_heading_textTransform: none;
  --title_heading_textAlign: var(--title_textAlign);
  --title_heading_color: var(--title_color);
  --title_smallHeading_fontSize: 25em;
  --title_smallHeading_lineHeight: 1.2em;
  --title_smallHeading_fontWeight: var(--title_fontWeight);
  --title_smallHeading_fontStyle: var(--title_fontStyle);
  --title_smallHeading_fontVariant: normal;
  --title_smallHeading_fontFamily: var(--font_secondary);
  --title_smallHeading_textTransform: none;
  --title_smallHeading_textAlign: var(--title_textAlign);
  --title_smallHeading_color: var(--title_color);
  --title_subHeading_fontSize: 18em;
  --title_subHeading_lineHeight: 1.4em;
  --title_subHeading_fontWeight: var(--title_fontWeight);
  --title_subHeading_fontStyle: var(--title_fontStyle);
  --title_subHeading_fontVariant: normal;
  --title_subHeading_fontFamily: var(--font_secondary);
  --title_subHeading_textTransform: none;
  --title_subHeading_textAlign: var(--title_textAlign);
  --title_subHeading_color: var(--title_color);
  --btn_fontSize: 16px;
  --btn_fontFamily: var(--font_secondary);
  --btn_borderRadius: 0;
  --btn_border: 0;
  --btn_textTransform: uppercase;
  --btn_fontWeight: 700;
  --btn_fontStyle: normal;
  --btn_fill: currentColor;
  --btn_primary_fill: var(--btn_fill);
  --btn_primary_fontSize: var(--btn_fontSize);
  --btn_primary_fontFamily: var(--font_primary);
  --btn_primary_textTransform: uppercase;
  --btn_primary_fontWeight: 700;
  --btn_primary_fontStyle: normal;
  --btn_primary_borderRadius: 64px;
  --btn_primary_borderWidth: 0px;
  --btn_primary_borderColor: transparent;
  --btn_primary_background: var(--color_brand);
  --btn_primary_color: rgb(var(--preColor_text));
  --btn_secondary_fill: var(--btn_fill);
  --btn_secondary_fontSize: var(--btn_fontSize);
  --btn_secondary_fontFamily: var(--font_primary);
  --btn_secondary_textTransform: uppercase;
  --btn_secondary_fontWeight: 700;
  --btn_secondary_fontStyle: var(--btn_fontStyle);
  --btn_secondary_borderRadius: 64px;
  --btn_secondary_borderWidth: 0px;
  --btn_secondary_borderColor: transparent;
  --btn_secondary_background: rgb(var(--preColor_altBrand));
  --btn_secondary_color: rgb(var(--preColor_textAlt));
  --btn_borderPrimary_fill: var(--btn_fill);
  --btn_borderPrimary_background: transparent;
  --btn_borderPrimary_fontSize: var(--btn_fontSize);
  --btn_borderPrimary_fontFamily: var(--font_primary);
  --btn_borderPrimary_borderRadius: 64px;
  --btn_borderPrimary_textTransform: uppercase;
  --btn_borderPrimary_fontWeight: 700;
  --btn_borderPrimary_fontStyle: normal;
  --btn_borderPrimary_borderStyle: solid;
  --btn_borderPrimary_borderWidth: 2px;
  --btn_borderPrimary_color: rgb(var(--preColor_brand));
  --btn_borderPrimary_borderColor: rgb(var(--preColor_brand));
  --btn_borderPrimary_paddingBottom: 4px;
  --btn_borderPrimary_paddingTop: 4px;
  --btn_borderSecondary_fill: var(--btn_fill);
  --btn_borderSecondary_background: transparent;
  --btn_borderSecondary_fontSize: var(--btn_fontSize);
  --btn_borderSecondary_fontFamily: var(--font_primary);
  --btn_borderSecondary_borderRadius: 64px;
  --btn_borderSecondary_textTransform: uppercase;
  --btn_borderSecondary_fontWeight: 700;
  --btn_borderSecondary_fontStyle: var(--btn_fontStyle);
  --btn_borderSecondary_borderStyle: solid;
  --btn_borderSecondary_borderWidth: 2px;
  --btn_borderSecondary_color: rgb(var(--preColor_textAlt));
  --btn_borderSecondary_borderColor: rgb(var(--preColor_textAlt));
  --btn_borderSecondary_paddingBottom: 4px;
  --btn_borderSecondary_paddingTop: 4px;
  --btn_default_fill: var(--btn_fill);
  --btn_default_paddingTop: 6px;
  --btn_default_paddingBottom: 6px;
  --btn_default_fontSize: var(--btn_fontSize);
  --btn_default_fontFamily: var(--btn_fontFamily);
  --btn_default_textTransform: var(--btn_textTransform);
  --btn_default_fontWeight: var(--btn_fontWeight);
  --btn_default_fontStyle: var(--btn_fontStyle);
  --btn_default_borderRadius: 0;
  --btn_default_borderWidth: 0;
  --btn_default_borderColor: transparent;
  --btn_default_background: transparent;
  --btn_default_color: var(--color_brand);
  --btn_header_fontSize: 15em;
  --btn_header_fontFamily: Lato, sans-serif;
  --btn_header_letterSpacing: 0px;
  --input_fontSize: var(--text_fontSize);
  --input_height: auto;
  --input_color: var(--text_color);
  --input_preBgColor: 255,255,255;
  --input_background: rgb(var(--input_preBgColor));
  --input_borderWidth: 1px;
  --input_borderColor: #cccccc;
  --input_borderRadius: 0;
  --input_textTransform: none;
  --input_textarea_fontSize: var(--input_fontSize);
  --input_textarea_height: 140px;
  --input_textarea_color: var(--input_color);
  --input_textarea_background: var(--input_background);
  --input_textarea_borderWidth: var(--input_borderWidth);
  --input_textarea_borderColor: var(--input_borderColor);
  --input_textarea_borderRadius: var(--input_borderRadius);
  --input_textarea_textTransform: var(--input_textTransform);
  --input_select_fontSize: var(--input_fontSize);
  --input_select_height: var(--input_height);
  --input_select_color: var(--input_color);
  --input_select_background: var(--input_background);
  --input_select_borderWidth: var(--input_borderWidth);
  --input_select_borderColor: var(--input_borderColor);
  --input_select_borderRadius: var(--input_borderRadius);
  --input_select_textTransform: var(--input_textTransform);
  --input_radio_fontSize: var(--input_fontSize);
  --input_radio_color: var(--input_color);
  --input_radio_borderColor: var(--input_borderColor);
  --input_radio_textTransform: var(--input_textTransform);
  --function_darkenBrand_0: 10;
  --function_darkenBrand_1: 15;
  --function_darkenBrand_2: 50;
  --function_rgbaBrand_0: 3;
  --function_rgbaBrand_1: 5;
  --function_rgbaBrand_2: 6;
  --function_rgbaBrand_3: 7;
  --function_rgbaBrand_4: 8;
  --function_rgbaBrand_5: 9;
  --function_link_rgba_0: 1;
  --function_link_rgba_1: 2;
  --function_button_primary_darken_0: 10;
  --function_button_primary_darken_1: 15;
  --function_button_secondary_darken_0: 10;
  --function_button_secondary_darken_1: 15;
  --function_button_borderPrimary_darken_0: 10;
  --function_button_borderPrimary_darken_1: 15;
  --function_button_borderSecondary_darken_0: 10;
  --function_button_borderSecondary_darken_1: 15;
  --divider_default: dashed;
  --divider_solid_width: 100;
  --divider_solid_align: left;
  --divider_solid_color: rgb(170, 170, 170);
  --divider_dashed_width: 100;
  --divider_dashed_align: center;
  --divider_dashed_color: rgb(var(--preColor_brand));
  --divider_dotted_width: 100;
  --divider_dotted_align: left;
  --divider_dotted_color: var(--color_text);
  --divider_dots_width: 100;
  --divider_dots_align: left;
  --divider_dots_color: var(--color_brand);
  --divider_slant_width: 100;
  --divider_slant_align: left;
  --divider_slant_color: var(--color_brand);
  --divider_waves_width: 100;
  --divider_waves_align: center;
  --divider_waves_color: var(--color_brand);
  --divider_dash_width: 100;
  --divider_dash_align: left;
  --divider_dash_color: var(--color_brand);
  --divider_zigzag_width: 100;
  --divider_zigzag_align: left;
  --divider_zigzag_color: var(--color_brand);
  --quote_default_color: var(--color_text);
  --quote_default_preColor: var(--preColor_text);
  --quote_default_fontStyle: italic;
  --quote_default_fontSize: var(--text_fontSize);
  --quote_default_fontFamily: var(--text_fontFamily);
  --quote_default_fontWeight: var(--text_fontWeight);
  --quote_default_lineHeight: var(--text_lineHeight);
  --quote_default_background: transparent;
  --quote_default_textTransform: none;
  --quote_default_borderColor: transparent;
  --link1_color: var(--color_brand);
  --link1_preColor: var(--preColor_brand);
  --link1_fontStyle: normal;
  --link1_textDecoration: none;
  --link1_fontWeight: 400;
  --link1_borderBottom: none;
  --link1_title: sh.fi.link-style_1;
  --link2_color: var(--color_brand);
  --link2_preColor: var(--preColor_brand);
  --link2_fontStyle: normal;
  --link2_textDecoration: none;
  --link2_fontWeight: 400;
  --link2_borderBottom: none;
  --link2_title: sh.fi.link-style_2;
  --link3_color: var(--color_brand);
  --link3_preColor: var(--preColor_brand);
  --link3_fontStyle: normal;
  --link3_textDecoration: none;
  --link3_fontWeight: 400;
  --link3_borderBottom: none;
  --link3_title: sh.fi.link-style_3;
  --link4_color: var(--color_brand);
  --link4_preColor: var(--preColor_brand);
  --link4_fontStyle: normal;
  --link4_textDecoration: none;
  --link4_fontWeight: 400;
  --link4_borderBottom: none;
  --link4_title: sh.fi.link-style_4;
  --link5_color: var(--color_brand);
  --link5_preColor: var(--preColor_brand);
  --link5_fontStyle: normal;
  --link5_textDecoration: none;
  --link5_fontWeight: 400;
  --link5_borderBottom: none;
  --link5_title: sh.fi.link-style_5;
  --link6_color: var(--color_brand);
  --link6_preColor: var(--preColor_brand);
  --link6_fontStyle: normal;
  --link6_textDecoration: none;
  --link6_fontWeight: 400;
  --link6_borderBottom: none;
  --link6_title: sh.fi.link-style_6;
  --function_link_color_darken_10: 31, 31, 31;
  --function_template_fill_lighten_20: 202, 205, 108;
  --function_color_brand_darken_20: 152, 155, 54;
  --function_color_brand_lightness: #000;
  --function_color_altBrand_lightness: #000;
  --function_color_text_lightness: #FFF;
  --function_color_textAlt_lightness: #000;
  --function_color_complementary_lightness: #000;
  --function_menu_active_color_lightness: #FFF;
  --function_color_altBrand_darken_20: 198, 152, 70;
  --function_color_complementary_darken_20: 255, 230, 134
}
